*.classpath
*.project
Aisignment 1/GeneratingTexts/.settings/
Aisignment 1/GeneratingTexts/bin/
Aisignment 1/GeneratingTexts/data/
Assignment 1/.settings/
data/
Assignment 1/bin/
Assignment 2/.settings/
Assignment 2/bin/
Assignment3/bin/
*/.idea
*.iml
